@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: darkcyan;
    color: rgb(40, 255, 148)
}

li {
    list-style-type: none;
}

a {
    color: rgb(60, 255, 34);
    text-decoration: none;
}

iframe {
    border: thick solid rgb(60, 255, 34);
}

img {
    outline: 0.17em dashed #11ffb8;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 30em;
      padding: 1em;
  }
  

  nav {
    padding: 1em;
  }